<nav class="navbar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>
    <ul class="nav-links">
      <button routerLink="/maquillaje">MAQUILLAJE</button>
      <button routerLink="/piel">CUIDADO DE LA PIEL</button>
      <li><button onclick="location.href=''">ROPA</button></li>
      <li><button onclick="location.href=''">MARCAS</button></li>
      <li><button onclick="location.href=''">BOLSOS</button></li>
  </ul>
  
    <div class="nav-icons">
      <a href=""><i class="fa fa-search"></i></a>
      <a href=""><i class="fa fa-user"></i></a>
      <a href=""><i class="fa fa-heart"></i></a>
      <a href=""><i class="fa fa-shopping-cart"></i></a>
    </div>
  </nav>

<div class="banner">
    <img src="assets/Pin.png" alt="Banner" />
  </div>
  <app-filtros></app-filtros>
  