<div class="main-container">
    <div class="filter-container">
      <h2>FILTROS</h2>
      <hr>
      <div class="filter-item" (click)="toggleDropdown('productDropdown')">
        <p>Tipo de producto</p>
        <span>&#9662;</span>
      </div>
      <div id="productDropdown" *ngIf="isProductDropdownVisible" class="dropdown-content">
        <label><input type="checkbox"> Producto 1</label>
        <label><input type="checkbox"> Producto 2</label>
        <label><input type="checkbox"> Producto 3</label>
      </div>
      <hr>
      
      <div class="filter-item" (click)="toggleDropdown('brandDropdown')">
        <p>Marca</p>
        <span>&#9662;</span>
      </div>
      <div id="brandDropdown" *ngIf="isBrandDropdownVisible" class="dropdown-content">
        <label><input type="checkbox"> Marca 1</label>
        <label><input type="checkbox"> Marca 2</label>
        <label><input type="checkbox"> Marca 3</label>
      </div>
      <hr>
    
      <div class="filter-item" (click)="toggleDropdown('priceDropdown')">
        <p>Precio</p>
        <span>&#9662;</span>
      </div>
      <div id="priceDropdown" *ngIf="isPriceDropdownVisible" class="dropdown-content">
        <label><input type="checkbox"> Precio 1</label>
        <label><input type="checkbox"> Precio 2</label>
        <label><input type="checkbox"> Precio 3</label>
      </div>
      <hr>
    
      <div class="filter-item" (click)="toggleDropdown('availabilityDropdown')">
        <p>Disponibilidad</p>
        <span>&#9662;</span>
      </div>
      <div id="availabilityDropdown" *ngIf="isAvailabilityDropdownVisible" class="dropdown-content">
        <label><input type="checkbox"> Disponible</label>
        <label><input type="checkbox"> No disponible</label>
      </div>
      <hr>
    </div>
  
    <div class="card-container">
      <div class="card" *ngFor="let card of cards">
        <img [src]="card.image" alt="{{ card.title }}" class="card-image" />
        <h3>{{ card.title }}</h3>
        <p>Precio: ${{ card.price.toFixed(2) }}</p>

      </div>
    </div>
  </div>
  <div class="pagination-container">
    <div class="pagination">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>&#9654;</span> <!-- Flecha para "siguiente" -->
    </div>
  </div>