<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section logo">
        <img src="assets/log.jpg" alt="Solher Logo" class="footer-logo">
      </div>
  
      <div class="footer-section">
        <h3>Servicio al Cliente</h3>
        <ul>
          <li><a href="#">Aviso de Privacidad</a></li>
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Políticas de Envíos</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Información</h3>
        <ul>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">FAQ's</a></li>
          <li><a href="#">Devoluciones</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Encuéntranos en:</h3>
        <div class="social-icons">
          <a href="#"><img src="assets/tik.png" alt="TikTok"></a>
          <a href="#"><img src="assets/insta.png" alt="Instagram"></a>
          <a href="#"><img src="assets/face.png" alt="Facebook"></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; Derechos Reservados 2024</p>
    </div>
  </footer>
  