<nav class="navbar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>
    <ul class="nav-links">
        <li><a routerLink="/maquillaje">MAQUILLAJE</a></li>
        <li><a routerLink="/piel">CUIDADO DE LA PIEL</a></li>
        <li><a href="">ROPA</a></li>
        <li><a href="">MARCAS</a></li>
        <li><a href="">BOLSOS</a></li>
      </ul>
      
    <div class="nav-icons">
      <a href=""><i class="fa fa-search"></i></a>
      <a href=""><i class="fa fa-user"></i></a>
      <a href=""><i class="fa fa-heart"></i></a>
      <a href=""><i class="fa fa-shopping-cart"></i></a>
    </div>
  </nav>
  
  <div class="banner">
    <img src="assets/y.png" alt="Banner" />
  </div>
  <div class="text">
  <p>Lo nuevo</p>
  </div>
  <app-card></app-card>
  <app-favoritecard></app-favoritecard>
  <app-imagen></app-imagen>
  <app-footer></app-footer>
 